# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model artifacts
*.pkl
*.h5
*.joblib

# Ignore logs and temp files
*.log
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db
